
  <section class="error">
    <div class="error-content">
      <p class="error-content-icon"><i class="fas fa-exclamation-triangle"></i></p>
      <p class="error-content-status">Error Status: {{errorStatus}}</p>
      <p class="error-content-message">Error message: {{errorMessage}}</p>
      <div class="error-content-message-home">
        <p>Ooops! Something went wrong...</p>
        <p>Let's go <a class="error-content-message-home-link" routerLink="/home">home</a> and try from there.</p>
      </div>
    </div>
  </section>


